<div style="width: 100%; height: 88vh;position: absolute;
 background: linear-gradient(to right,rgba(0, 0, 0, 0.8),rgb(0,0, 0, 0.8)),
 url('https://images.pexels.com/photos/220762/pexels-photo-220762.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: 100% 100vh; background-position: center;">

    <h1 class="text-light p-5" style="position: absolute; top: 40%; left: 27%; border-bottom-left-radius: 15px; border-top-right-radius: 15px; border: 5px double rgb(255, 255, 255); font-weight: bolder; font-size: 50px;">Welcome in Our Website !!</h1>

</div>